
.vollkorn-<header> {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.literata-<paragraph> {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

html {
	font-size: 16px;
	color: #222222;
	font-family: "Vollkorn";
	background: #B0BEDF;
}

.artimage {
	width: 50%;
	border: 2px solid #222222;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
}

.artimage img {
	border-radius: 20px;
	width: 100%;
}

h1 {
	font-size: 32px;
	font-style: italic;
}

h2 {
	font-size: 20px;
}

p,
li {
	font-size: 16px;
	font-family: "Literata";
	color: #222222;
	line-height: 1.75;
}

body {
	width: 75%;
	max-width: 700px;
	margin: 20px auto;
	background-color: #F2E2FF;
	padding: 10px 50px 20px 30px;
	border: 2px solid #222222;
	border-radius: 20px;
}

hr {
	border: 1px dashed #222222;
}